body {
  background-color: white;
}

.home-title-main {
  color: black;
  text-align: center;
  font-family: 'Inter';
  font-weight: 800;
  padding-top: 3%;
}

.row {
  padding-top: 60px;
  padding-left: 33%;
}

.card {
  height: 200px;
  width: 20rem;
  background: rgba(0, 0, 0, 0.14);
}

.card:hover {
  /*height: 205px;*/
  /*width: 20.5rem;*/
  background: rgba(0, 0, 0, 0.28);
  cursor: pointer;
}

.card-header {
  font-weight: bold;
  color: black;
}



/*Applications*/

.app-title-main {
  font-family: 'Inter';
  font-weight: 600;
  text-align: center;
  color: black;
  padding-top: 2.5rem;
}

#search-input {
  font-family: 'Inter';
  width: 50%;
  height: 3rem;
  margin-left: 25%;
  margin-top: 3.5%;
  border-radius: 4px;
}

#dropdown-menu {
  font-family: 'Inter';
  width: 50%;
  height: 3rem;
  margin-left: 25%;
  margin-top: 1%;
  border-radius: 4px;
}

#add-button {
  font-family: 'Inter';
  margin-left: 25%;
  margin-top: 1%;
  width: 50%;
  height: 3rem;
  /*background-color: rgb(243, 203, 103);*/
  background-color: rgb(147, 213, 210);
  color: black;
}

.layout {
  display: flex;
}

#selected-list {
  width: 50%;
  margin-left: 25%;
  margin-top: 1%;
  color: white;
  list-style: none;
}

#selected-list li {
  display: flex;
  justify-content: space-between;
  width: 104%;
  height: 2rem;
  margin-left: -4%;
  margin-top: 1%;
  color: white;
  background-color: #b9b4c78a;
  border-radius: 5px;

  opacity: 0; /* Start with opacity 0 */
  animation: fadeIn 0.5s ease-in-out forwards; /* Use forwards to keep the final opacity */
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}


.delete-button {
  margin-right: 10%;
  color: white;
}

#back-button {
  position: fixed;
  bottom: 10px;
  left: 10px;
}