body {
  background-color: whitesmoke;
}

.home-title-main {
  color: black;
  text-align: center;
  font-family: 'Inter';
  font-weight: 800;
  font-size: 3rem;
  padding-top: 3%;
  text-shadow: 3px 3px 16px rgba(34, 22, 158, 0.35);
}

.row {
  padding-top: 60px;
  display: flex;
  justify-content: center;
}

.card {
  position: relative;
  height: 200px;
  width: 20rem;
  background: rgba(0, 0, 0, 0.14);
  font-family: 'Inter';
  box-shadow: 3px 3px 17px -3px rgba(34, 22, 158, 0.61);
}

.card:hover {
  /*height: 205px;*/
  /*width: 20.5rem;*/
  background: rgba(0, 0, 0, 0.28);
  cursor: pointer;
  border: 1px solid black;
  box-shadow: 3px 3px 25px -3px rgba(34, 22, 158, 0.61);
}

.card-header {
  font-family: 'Inter';
  font-weight: bold;
  color: rgb(54, 54, 243);
}



/*Applications*/

.app-title-main {
  font-family: 'Inter';
  font-weight: 600;
  text-align: center;
  color: black;
  padding-top: 2.5rem;
}

#search-input {
  font-family: 'Inter';
  width: 50%;
  height: 3rem;
  margin-left: 25%;
  margin-top: 3.5%;
  border-radius: 4px;
}

#dropdown-menu {
  font-family: 'Inter';
  width: 50%;
  height: 3rem;
  margin-left: 25%;
  margin-top: 1%;
  border-radius: 4px;
}

#add-button {
  font-family: 'Inter';
  margin-left: 25%;
  margin-top: 1%;
  width: 50%;
  height: 3rem;
  /*background-color: rgb(243, 203, 103);*/
  background-color: rgb(147, 213, 210);
  color: black;
}

.layout {
  display: flex;
}


#selected-list {
  width: 50%;
  margin-left: 25%;
  margin-top: 1%;
  color: black;
  list-style: none;
}

.list-item {
  font-family: 'Inter';
  padding-left: 5%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 3rem;
  padding-top: 1%;
  margin-top: 1%;
  color: black;
  background: rgba(0, 0, 0, 0.14);
  border-radius: 5px;
  border: 1px solid black;
  opacity: 0; /* Start with opacity 0 */
  animation: fadeIn 0.5s ease-in-out forwards;
}

.list-item:hover {
  background: rgba(0, 0, 0, 0.24);
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}


.delete-button {
  margin-right: 10%;
  color: red;
}

#back-button {
  position: fixed;
  bottom: 10px;
  left: 10px;
}


/*Dashboard*/

.charts-row {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2.5%;
  
}

.chart-container {
  border: 1px black solid;
  border-radius: 5px;
  box-shadow: 3px 3px 17px -3px rgba(34, 22, 158, 0.61);
}

.cards-info {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2.5%;
}

.card-info {
  display: flex;
  justify-content: space-evenly;
  padding-top: 1%;
  font-family: "Inter";
  font-weight: 800;
  height: 30%;
  width: 20rem;
  background: rgba(0, 0, 0, 0.14);
  font-family: 'Inter';
  border: 1px black solid;
  border-radius: 5px;
}

.card-info:hover {
  /*height: 205px;*/
  /*width: 20.5rem;*/
  background: rgba(0, 0, 0, 0.28);
  border: 1px solid black;
}


/*Logs*/
.logs-info {
  background: rgba(109, 225, 134, 0.28);
  height: 3.5rem;
}

.logs-warn {
  background: rgba(217, 225, 109, 0.28);
  height: 3.5rem;
}

.logs-debug {
  background: rgba(109, 165, 225, 0.28);
  height: 3.5rem;
}

.logs-error {
  background: rgba(225, 109, 109, 0.28);
  height: 3.5rem;
}

/* Login */

#login-container {
  border: 2px black solid;
  width: 30%;
  display: block;
  margin: auto;
  height: 150%;
  margin-top: 10%;
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.08);
}

#app-title-login {
  margin-top: 15%;
}

.key-input {
  margin: auto;
  display: block;
  text-align: center;
  margin-top: 1%;
  background-color: whitesmoke;
  border: 2px black solid;
  border-radius: 5px;
}

.button-login {
  margin: auto;
  display: block;
  border-radius: 7px;
  background-color: rgb(70, 70, 300);
  margin-bottom: 30%;
}

.button-login:hover {
  background-color: rgb(54, 54, 243);
}
